.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-brand{
  background-image: url('https://d2usaxb03deyc4.cloudfront.net/static/version1587041316/frontend/Propper/b2c/en_US/images/logo.png') !important;
}

.bg-light{
  background-color: #294159 !important;
}

.logo{
  width:10rem !important;
}

.nav-link{
  color: whitesmoke !important;
}


#po-batch-head-inputs{
  /*max-width: 10ch !important;
 */
}

#po-batch-head-result{
  margin-right: 35px;
  margin-top: 26px;
  margin-left: 50px;
}